.launch {
  margin: 20px;
  background-color: #eee;
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 5px;
  width: 100%;
}
.launch .card-header p {
  margin-bottom: 0;
  float: left;
}
.launch .card-header .launch-patch {
  float: right;
  max-height: 100px;
}
.launch .card-block {
  padding: 20px;
}
.launch .launch-failure {
  color: #900;
}
.launch .launch-success {
  color: #050;
}
@media (min-width: 767px) {
  .launch {
    width: 25%;
  }
}

.chart {
  width: 100%;
  min-height: 450px;
}
